* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.centro {
	text-align: center;
	align-items: center;
}

body {
	font-family: Questrial; /* Fonte Family do Site*/
}

.centro {
	text-align: center;
	align-items: center;
}

.questrial-regular {
	font-family: "Questrial", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.top-bar1 {
	top: 0;
	background-color: rgb(231, 160, 246);
	color: white;
	width: 100%;
	position: fixed;
	padding: 1px 20px;
	text-align: center;
	font-size: 0.9rem;
	z-index: 1000;
}

.top-bar1 p {
	font-size: 19pt;
}

.top-bar2 {
	background-color: rgb(237, 237, 237);
	color: gray;
	width: 100%;
	height: 99px;
	padding: 10px 20px;
	margin-top: 30px;
	font-size: 0.9rem;
	position: fixed;
	z-index: 999;
}

.sanduiche-menu img{
	position: absolute;
	width: 100%;
	width: 35px;
	margin-top: 18px;
	margin-left: 29px;
	cursor: pointer;
	left: 0;
}

.top-bar2 input {
	margin-top: 15px;
	margin-left: 100px;
	width: 360px;
	padding: 10px;
	border-radius: 25px;
	font-size: inherit;
	color: #8b8b8b;
	outline: none;
	border: solid;
	border-width: 1px;
	padding: 0.7rem 1rem;
	transition: border-color 0.3s ease-in-out; /* Suaviza a transição da cor da borda */
	background-color: rgb(237, 237, 237);
	background-image: url(images/lupa-cinza-escuro.png); /* Adicionar ícone como imagem de fundo */
	background-repeat: no-repeat; /* Evitar que o ícone se repita */
	background-position: calc(100% - 10px) center; /* Posicionar o ícone à direita */
	background-size: 30px; /* Definir o tamanho do ícone */
	position: absolute;
}

/* Define um tamanho padrão para o carrossel */
#carouselExampleIndicators {
    max-width: 100%; /* Garante que o carrossel nunca exceda a largura do container pai */
    margin: auto; /* Centraliza o carrossel horizontalmente */
}

.carousel-inner {
    max-height: 500px; /* Altura máxima padrão */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse a altura máxima */
}

.carousel-item img {
    max-height: 100%;
    width: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Cobre o espaço do carrossel de forma proporcional */
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; /* Remove o botão de cancelamento no Webkit */
	appearance: none; /* Remove o botão de cancelamento */
}

input[type="search"]::-moz-search-cancel-button {
	-moz-appearance: none; /* Remove o botão de cancelamento no Mozilla */
	appearance: none; /* Remove o botão de cancelamento */
}

input[type="search"]::-ms-clear {
	display: none; /* Remove o botão de cancelamento no Microsoft Edge */
}

#iconeLogin {
	display: inline-block;
	width: 30px;
	margin-top: 27px; /* Ajustado para corresponder à margem superior do campo de pesquisa */
	margin-left: 1459px; /* Ajustado para garantir espaço entre o campo de pesquisa e o ícone */
	position: absolute;
	cursor: pointer;
}

#titulo-perfil {
	position: absolute;
	margin-top: 22px;
	margin-left: 1500px; /* Ajustado para garantir espaço entre o ícone e o texto "MINHA CONTA" */ /* Ajustado para corresponder à margem superior do campo de pesquisa */
	cursor: pointer;
}

#titulo-CadastroOuLogin {
	position: absolute;
	margin-left: 1500px; /* Ajustado para garantir espaço entre "MINHA CONTA" e "ENTRE OU CADASTRE" */
	margin-top: 42px; /* Ajustado para corresponder à margem superior do campo de pesquisa */
	cursor: pointer;
}

#titulo-CadastroOuLogin:hover, #titulo-perfil:hover{
	color:  rgb(231, 160, 246);
}

#itens-favoritos {
	margin-top: 20px;
	margin-left: 1729px;
	width: 35px;
	position: absolute;
	cursor: pointer;
}

#itens-sacola {
	width: 35px;
	margin-top: 20px;
	margin-left: 1790px;
	position: absolute;
	cursor: pointer;
}

#titulo-acessorio:hover,
#titulo-labios:hover,
#titulo-rosto:hover,
#titulo-skincare:hover,
#titulo-corpo:hover,
#titulo-lancamento:hover{
	color: rgb(231, 160, 246);
}

header {
	background-color: rgb(0, 0, 0);
	color: white;
	width: 100%;
	padding: 10px 20px;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	margin: 0;
	margin-top: 150px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	z-index: 998; /*Garante que o header fica acima de outros elementos*/
}

.header-content {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

nav{
	display: flex;
	justify-content: center;
}


.header-content a {
	margin: 0 45px; /* Espaçamento horizontal entre os parágrafos */
	font-size: 1.2rem; /* Tamanho da fonte relativo */
	cursor: pointer;
}

.header-content a {
	margin-top: 20px;
}

.menu-item {
	position: relative; /* Define o posicionamento relativo para conter o submenu */
  }
  
.submenu {
	display: none; /* Esconde o submenu inicialmente */
	position: fixed; /* Posiciona o submenu em relação ao menu-item */
	top: 75px; /* Posiciona o submenu abaixo do item do menu */
	margin-top: 79px;
	left: 50%; /* Alinha o submenu à esquerda do item do menu */
	transform: translateX(-50%); /* Ajusta para centralizar exatamente */
	background-color: #000000; /* Define a cor de fundo do submenu */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao submenu */
	min-width: 200px; /* Define a largura mínima do submenu */
	width: 1270px;
	height: 300px;
	z-index: 1001; /* Garante que o submenu fique acima de outros elementos */
	text-align: left;
}
  
.submenu a {
	display: block; /* Cada link ocupa uma linha inteira no submenu */
	padding: 10px 20px; /* Define o espaçamento interno dos links do submenu */
	text-decoration: none; /* Remove a sublinha dos links */
	color: #ffffff; /* Define a cor dos links */
}

.submenu:hover{
	display: block;
}

.menu-item:hover .submenu {
	display: block; /* Exibe o submenu ao passar o mouse sobre o menu-item */
}

.responsive-title{
	font-size: 20px;
}

.card1,
.card2,
.card3 {
	width: 300px;
	height: 620px;
	border-radius: 15px;
	background: #ffffff;
	position: relative;
	box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

#chevron-icone{
	position: absolute;
	width: 13px;
	margin-top: 8px;
	margin-left: 20px;
	cursor: pointer;
}

#chevron-icone:hover{
	transform: rotate(180deg);
}

.card1 #produto-card1,
.card2 #produto-card2,
.card3 #produto-card3 {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 195px;
	height: 190px;
	margin-top: 145px;
	margin-left: 50px;
	border-radius: 15px;
	position: relative;
	cursor: pointer;
}

#coracao-favorito-card1,
#coracao-favorito-card2,
#coracao-favorito-card3 {
	width: 30px;
	margin-bottom: 235px;
	margin-right: 20px;
	position: relative;
	cursor: pointer;
	height: auto;
	transition: transform 0.3s ease;
}

#coracao-favorito-card {
	transform: scale(
		1.1
	); /* Aumenta um pouco o tamanho da imagem quando o mouse passa por cima */
}



.titulo-lancamentos #titleLancamentos {
	font-size: 30pt;
	left: 0;
	margin-top: 60px;
	margin-left: 380px;
	margin-bottom: 0px;
}

.titulo-lancamentos #descricaoLancamentos {
	font-size: 15pt;
	left: 0;
	margin-left: 380px;
	margin-bottom: 60px;
}

#botao-adicionar {
	margin-top: 20px;
	border-radius: 10px;
	width: 190px;
	height: 50px;
	margin-left: 40px;
	background-color: #ffffff;
	border: solid;
	outline: none;
	border-width: 2px;
	align-items: center;
	font-family: Questrial;
	font-size: 16pt;
	right: 0;
	left: 0;
}

#botao-adicionar:hover {
	background-color: black;
	color: white;
}

.container {
	display: flex;
	position: relative;
	justify-content: center; /* Centraliza os cards horizontalmente */
	align-items: center; /* Centraliza os cards verticalmente */
	/*height: 100vh;  Ajusta a altura do container para a altura total da viewport */
	gap: 120px;
	position: relative;
    z-index: 1; 
}

footer {
	background-color: black;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

footer ul li {
	margin: 5px 0;
	font-size: 15px;
}

.footer-marca, .footer-suporte {
	flex: 1;
}

.footer-marca a, .footer-suporte a {
	text-decoration: none;
	color: white;
}

.footer-copyright {
	margin-top: 100px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}


/*ESPAÇO PARA INSERÇÃO DE EMAIL PARA RECEBER PROMOÇÕES*/
.promocao-form{
	margin-top: 130px;
	background-color:rgb(231, 160, 246);
	position: relative;
	width: 100%;
	height: 260px;
	color: #ffffff;
	text-align: center;
	padding: 25px 0px 0px 0px;
}

.promocao-form p{
	font-size: 20px;
}

.promocao-form input{
	border-radius: 4px;
	border: none;
	outline: none;
	padding: 10px;
}

#nome{
	width: 140px;
	height: 44px;
}

#email{
	width: 190px;
	height: 44px;
}


#submit-promo{
	width: 160px;
}

#submit-promo:hover{
	color: white;
	background-color: #000000;
	transition: background 0.5s;
}

.desenvolvido a{
	margin-left: 1000px;
	text-decoration: none;
	color: #4e4b4b;
}

.promocao-input{
	margin-top: 55px;
}

.promocao-form ::placeholder{
	font-size: 10pt;
}



@media (max-width: 1920px){

	.top-bar1 {
		height: 30px;
		padding: 0px 0px 0px 0px;
		z-index: 1000;
	}

	.top-bar1 p{
		top: 0;
		bottom: 0;
		font-size: 1rem;
	}

	.top-bar2{
		top: 0;
		height: 85px;
		padding: 0px 0px 0px 0px;
		background-color: rgb(237, 237, 237);
		margin-top: 30px;
		font-size: 0.9rem;
		position: fixed;
		z-index: 999;
	}

	.top-bar2 input{
		width: 295px;
		height: 45px;
	}
	
	#itens-favoritos {
		margin-top: 20px;
		margin-left: 1730px;
		width: 35px;
		position: absolute;
		cursor: pointer;
	}
	
	#itens-sacola {
		width: 35px;
		margin-top: 20px;
		margin-left: 1790px;
		position: absolute;
		cursor: pointer;
	}

	.circle-quantidade {
		width: 19px;
		height: 19px;
		background-color:  rgb(231, 160, 246);
		margin-top: 35px;
		border-radius: 50%;
		margin-left: 1810px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		position: absolute;
		justify-content: center;
    	align-items: center;
		text-align: center;
		z-index: 10;
		font-size: 9.8pt;
		color:  rgb(237, 237, 237);
		font-weight: bold;
	}

	.circle-quantidade-value{
		top: 0;
		bottom: 0;
	}

	header{
		margin-top: 114px;
		height: 60px;
		padding: 19px 0px 0px 0px;
	}

	.header-content a {
		font-size: 0.90rem;
	}



	#titulo-perfil,
	#titulo-CadastroOuLogin{
		margin-left: 1500px;
	}

	#titulo-lancamento {
		margin-bottom: 15px;
	}

	.titulo-lancamentos #titleLancamentos{
		font-size: 22pt;
	}

	.titulo-lancamentos #descricaoLancamentos{
		font-size: 15pt;
	}

	.titulo-lancamentos #titleLancamentos,
	.titulo-lancamentos #descricaoLancamentos {
		margin-left: 80px;
	}

	.card1,
	.card2,
	.card3{
		width: 260px;
		height: 360px;
	}

	.card1 #produto-card1,
	.card2 #produto-card2,
	.card3 #produto-card3 {
		position: absolute;
		width: 150px;
		height: 140px;
		margin-top: 60px;
		margin-left: 57px;
		border-radius: 15px;
	}

	#coracao-favorito-card1,
	#coracao-favorito-card2,
	#coracao-favorito-card3 {
		width: 25px;
		position: absolute;
		margin-top: 20px;
		margin-left: 210px;
	}
	
	#botao-adicionar{
		position: absolute;
		margin-top: 290px;
		margin-right: 1400px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#titulo-produto1,
	#titulo-produto2,
	#titulo-produto3 {
		margin-top: 210px;
		margin-left: 25px;
		position: absolute;
	}

	#preco-antigo-card1{
		position: absolute;
		margin-top: 233px;
		margin-left: 25px;
		color: #a1a1a1;
	}

	#preco-novo-card1 {
		position: absolute;
		margin-top: 245px;
		margin-left: 25px;
		font-size: 17pt;
	}

	#preco-novo-card2 {
		position: absolute;
		margin-top: 240px;
		margin-left: 25px;
		font-size: 17pt;
	}

	#preco-novo-card3 {
		position: absolute;
		margin-top: 240px;
		margin-left: 25px;
		font-size: 17pt;
	}
		
}

@media (max-width: 1366px){

	#itens-favoritos {
		margin-top: 20px;
		margin-left: 1170px;
		width: 35px;
		position: absolute;
		cursor: pointer;
	}
	
	#itens-sacola {
		width: 35px;
		margin-top: 20px;
		margin-left: 1215px;
		position: absolute;
		cursor: pointer;
	}

	#iconeLogin{
		margin-left: 920px;
	}

	.circle-quantidade {
		width: 19px;
		height: 19px;
		background-color:  rgb(231, 160, 246);
		margin-top: 35px;
		border-radius: 50%;
		margin-left: 1235px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		position: absolute;
		justify-content: center;
    	align-items: center;
		text-align: center;
		z-index: 10;
		font-size: 9.8pt;
		color:  rgb(237, 237, 237);
		font-weight: bold;
	}

	.circle-quantidade-value{
		top: 0;
		bottom: 0;
	}

	#titulo-perfil,
	#titulo-CadastroOuLogin{
		margin-left: 960px;
	}
}

@media (min-width: 1080px) and (max-width: 1200px) {
	.header-content p{
		display: none; /*Tira as letras*/
	}

	.top-bar2{
		height: 85px;
	}

	.top-bar2 input{
		position: relative;
		margin-bottom: 95px;
		align-items: center;
		left: -35px;
	}

	.top-bar2 p {
		display: none;
	}

	#itens-favoritos{
		margin-right: 200px;
	}
}

@media (max-width: 1024px){

	#itens-favoritos {
		margin-top: 20px;
		margin-left: 915px;
		width: 35px;
		position: absolute;
		cursor: pointer;
	}
	
	#itens-sacola {
		width: 35px;
		margin-top: 20px;
		margin-left: 955px;
		position: absolute;
		cursor: pointer;
	}

	.circle-quantidade{
		margin-left: 974px;
	}

	#iconeLogin{
		margin-left: 690px;
	}

	#titulo-perfil,
	#titulo-CadastroOuLogin{
		margin-left: 730px;
	}

	#coracao-favorito-card1,
	#coracao-favorito-card2, 
	#coracao-favorito-card3{
		margin-left: 180px;
	}

	#botao-adicionar{
		margin-left: 24px;
	}

	.card1 #produto-card1,
	.card2 #produto-card2,
	.card3 #produto-card3{

		margin-left: 48px;
}

@media (max-width: 900px) {
	.header-content p {
		font-size: 0.9rem;
	}
}


@media (min-width: 430px) and (max-width: 539px) {

	.top-bar1{
		height: 60px;
	}

	.top-bar1 p {
		margin-top: 18px;
		font-size: 13pt;
		margin-right: 119px;
		font-weight: bold;
	}

	.top-bar2 input{
		display: none;
	}

	#iconeLogin{
		margin-top: 42px;
		margin-left: 60px;
		width: 24px;
	}

	.sanduiche-menu img{
		position: absolute;
		margin-left: 100px;
	}

	header{
		display: none;
	}

	.carousel-inner {
        max-height: 500px; /* Reduz a altura máxima para telas menores */
    }

    .carousel-item img {
        width: 100%; /* Ajusta a largura da imagem para 100% do container do carrossel */
		width: 20px;
        height: auto; /* Mantém a proporção da imagem */
    }

	.titulo-lancamentos #titleLancamentos{
		font-size: 15pt;
		margin-left: 18px;
	}

	.titulo-lancamentos #descricaoLancamentos{
		font-size: 11pt;
		margin-left: 18px;
	}

	.card1,
	.card2,
	.card3{
		display: flex;
		flex-direction: column;
		position: relative;
		
	}

}

@media (min-width: 412px) and (max-width: 440px){
	.header-content {
		font-size: 0.1rem;
		margin: 0 1px;
		gap: 10px;
	}

	.top-bar2 input{
		width: 150px;
		height: 35px;
	}

	.top-bar2 img {
		display: none;
	}
	
	.carousel-item img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: top;
	}
}

@media (min-width: 300px) and (max-width: 440px) {
	.header-content p {
		font-size: 0.65rem;
		margin: 0 5px;
	}
}

@media (min-width: 768px) and (max-width: 850) {
	.header-content p {
		font-size: 0.5rem;
		margin: 0 6px;
	}
}
.carousel-item img {
	width: 100%;
	height: 1100px;
	object-fit: cover;
	object-position: top;
}

